# Clerk
PUBLIC_CLERK_SIGN_IN_URL=/sign-in
PUBLIC_CLERK_SIGN_UP_URL=/sign-up
PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/dashboard
PUBLIC_CLERK_PUBLISHABLE_KEY=
# Clerk Server
CLERK_SECRET_KEY=
# Cloudinary
PUBLIC_CLOUDINARY_CLOUD_NAME=""
PUBLIC_CLOUDINARY_API_KEY=""
# Cloudinary Server
CLOUDINARY_CLOUD_NAME="dvvyqa8cy"
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
