---
import Authenticated from "@/layouts/authenticated.astro";
---

<Authenticated title="Brock Shaffer">
    <div class="mx-8 pt-24 flex max-w-4xl flex-col pb-16">
        <h1 class="font-bold text-5xl text-primary">Hello</h1>
    </div>
</Authenticated>
