---
import "@/styles/global.css";
import { CldImage } from "astro-cloudinary";
import { DownloadCloud, LoaderCircle } from "lucide-react";

// We only need one image, as we'll reveal it
const heroImage = "damA2_09_20_25_rkfd0k";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://res.cloudinary.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />

        <title>Brock Shaffer</title>

        <script
            is:inline
            src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"
        ></script>
        <script
            is:inline
            src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/TextPlugin.min.js"
        ></script>
    </head>

    <body>
        <main class="min-h-screen relative">
            <section class="relative h-[90vh] w-full overflow-hidden">
                <div class="absolute inset-0 z-0 h-full w-full hero-image-mask">
                    <CldImage
                        src={heroImage}
                        alt="Hero background"
                        format="auto"
                        quality="auto"
                        width={8064}
                        height={4536}
                        sizes="100vw"
                        loading="eager"
                        fetchpriority="high"
                        decoding="async"
                        class="h-full w-full object-cover"
                        class="h-full w-full object-cover brightness-90"
                    />
                </div>
                <div
                    class="absolute inset-0 z-20 flex w-full h-full flex-col items-center justify-center space-y-4"
                >
                    <h1
                        class="hero-title font-bold text-7xl md:text-9xl text-foreground drop-shadow-[0_2px_2px_rgba(0,0,0,0.8)] text-center"
                    >
                        Brock Shaffer
                    </h1>
                    <div
                        class="grid grid-cols-1 md:grid-cols-4 gap-4 w-fit mt-4"
                    >
                    </div>
                </div>
            </section>
        </main>

        <div
            class="loading-screen fixed inset-0 z-40 flex flex-col w-full h-full text-center items-center bg-background"
        >
            <div
                class="flex flex-col my-auto items-center w-24 overflow-hidden"
            >
                <DownloadCloud className="loading-icon mt-4" size={32} />
                <div class="loading-bar h-1 bg-muted w-12 rounded mt-2"></div>
            </div>
        </div>
    </body>
</html>

<style>
    .loading-title {
        font-family: "Kanit";
    }

    .hero-image-mask {
        mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
        -webkit-mask-image: linear-gradient(
            to bottom,
            black 70%,
            transparent 100%
        );
    }
</style>

<script is:inline>
    let load_pulse = gsap.to(".loading-bar", {
        duration: 1,
        backgroundColor: "var(--foreground)",
        ease: "power3.out",
        repeat: -1,
        yoyo: true,
    });

    // Initial setup
    document.addEventListener("DOMContentLoaded", () => {
        load_pulse.kill();
        let tl = gsap.timeline();

        tl.to(".loading-bar", {
            duration: 0.75,
            backgroundColor: "var(--foreground)",
            scaleX: 1.5,
            ease: "power3.out",
        });
        tl.to(".loading-icon", {
            duration: 0.75,
            yPercent: 150,
            ease: "back.in(1.7)",
        });
        tl.to(".loading-screen", {
            duration: 1,
            autoAlpha: 0,
            ease: "power3.out",
        });
    });
</script>
