---
import "@/styles/global.css";
import { getCollection } from "astro:content";
import { CldImage } from "astro-cloudinary";
import Footer from "@/components/footer.astro";
import PublicNavbar from "@/components/public-navbar.astro";
const photos = await getCollection("photos");
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>Brock Shaffer - Photo Gallery</title>
    </head>
    <body>
        <PublicNavbar />
        <main class="min-h-screen">
            <div class="flex flex-col mx-4 lg:mx-8">
                <div class="flex flex-col mt-24 mb-16">
                    <h1 class="text-4xl font-extrabold underline">
                        The Gallery
                    </h1>
                    <p class="mt-2 text-muted-foreground">
                        It's the small details that matter most.
                    </p>
                </div>
                <div
                    class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 pb-8"
                >
                    {
                        photos.map((photo, index) => (
                            <a
                                href={`/photos/${photo.data.public_id}`}
                                class="aspect-video overflow-hidden rounded-lg cursor-default transition ring-transparent ring-2 hover:ring-primary block"
                                data-astro-prefetch="hover"
                            >
                                <CldImage
                                    class="w-full h-full object-cover"
                                    src={photo.data.public_id}
                                    crop="fill"
                                    gravity="auto"
                                    format="auto"
                                    quality="auto"
                                    loading={index < 8 ? "eager" : "lazy"}
                                    fetchpriority={
                                        index < 4 ? "high" : undefined
                                    }
                                    alt={photo.data.display_name}
                                    widths={[360, 768, 1024, 1280]}
                                    sizes="(max-width: 768px) 100vw, (max-width: 1024px) 50vw, (max-width: 1280px) 33vw, 25vw"
                                    data-index={index}
                                />
                            </a>
                        ))
                    }
                </div>
            </div>
            <Footer />
        </main>
    </body>
</html>
