---
import Main from "@/layouts/main.astro";
import { SignUp } from "@clerk/astro/components";
---

<Main title="Brock Shaffer">
    <div class="flex h-screen w-full">
        <div class="flex m-auto">
            <SignUp />
        </div>
    </div>
</Main>
