---
import { Image } from "astro:assets";
import { ChevronRight, ExternalLink } from "lucide-react";

interface Props {
    href: string;
    image: ImageMetadata;
    title: string;
    subtitle: string;
    external?: boolean | null;
}

const { href, image, title, subtitle, external } = Astro.props;
---

<a
    href={href}
    class="group hover:-translate-y-2 mt-4 flex flex-row rounded-xl border-2 border-transparent p-4 drop-shadow-lg transition cursor-default hover:border-primary"
>
    <Image
        src={image}
        alt=""
        inferSize
        class="my-auto aspect-square size-24 md:size-28"
    />
    <div
        class="ml-4 flex w-full flex-col items-start border-foreground border-l-2 pl-4 align-middle transition"
    >
        <h4 class="w-full font-semibold text-xl md:text-2xl lg:text-3xl">
            {title}
        </h4>
        <p class="md:text-lg">{subtitle}</p>
        {
            external ? (
                <ExternalLink className="mt-auto mb-1 size-6 self-end group-hover:stroke-primary transition" />
            ) : (
                <ChevronRight className="mt-auto mb-1 size-6 self-end group-hover:stroke-primary transition" />
            )
        }
    </div>
</a>
