---
interface Props {
    class?: string;
}

const { class: className } = Astro.props;
---

<div
    class:list={["fixed inset-0 -z-50 h-full w-full bg-background", className]}
>
    <div
        class="absolute inset-0 z-1 opacity-[0.04] mix-blend-overlay pointer-events-none"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
            <filter id="noiseFilter">
                <feTurbulence
                    type="fractalNoise"
                    baseFrequency="0.8"
                    numOctaves="3"
                    stitchTiles="stitch"></feTurbulence>
            </filter>
            <rect width="100%" height="100%" filter="url(#noiseFilter)"></rect>
        </svg>
    </div>

    <div
        class="absolute inset-0 h-full w-full opacity-[0.1]"
        style="background-image: linear-gradient(to right, hsl(var(--border)) 1px, transparent 1px), linear-gradient(to bottom, hsl(var(--border)) 1px, transparent 1px); background-size: 40px 40px;"
    >
    </div>

    <div class="absolute inset-0 h-full w-full">
        <svg
            class="h-full w-full opacity-[0.15] text-muted-foreground"
            xmlns="http://www.w3.org/2000/svg"
        >
            <defs>
                <pattern
                    id="plus-pattern"
                    width="160"
                    height="160"
                    patternUnits="userSpaceOnUse"
                >
                    <rect
                        x="79"
                        y="75"
                        width="2"
                        height="10"
                        fill="currentColor"></rect>
                    <rect
                        x="75"
                        y="79"
                        width="10"
                        height="2"
                        fill="currentColor"></rect>
                </pattern>
            </defs>
            <rect width="100%" height="100%" fill="url(#plus-pattern)"></rect>
        </svg>
    </div>

    <div
        class="absolute inset-0 bg-background/5 mask-image:radial-gradient(ellipse_at_center,transparent_40%,black_100%)"
    >
    </div>
</div>
